@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for selecting <strong>Your Trash Collectors</strong> to handle your disposal needs.
    We are a trash collection service that picks up your trash whenever you need us to.
    Customize the day of the week and how often you want your trash removed.
    For one trash pickup per week, you will need to pay $20.00 a month.
    For one trash pickup every other week, you will need to pay $10.00 a month.
    For one trash pickup a month, you will need to pay $5.00 a month.</p>
