@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Your Trash Collectors<br />
    333 N Plankinton Ave<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    414.269.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">goldenruel@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jenrueler@gmail.com</a>
</address>