@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Your Trash Collectors</h1>
    <h2>Welcome to your trash collection service</h2>
    <p>
        We hope you are happy with our trash collection service. This application will allow you to personalize what day and how
        often your trash is picked up, and will allow you to see and pay your bill for the services that you choose.
    </p>
    <p><a class="btn btn-default" href="http://localhost:3605/Customer/Create/Index">Change your schedule. &raquo;</a></p>
</div>
<div class="col-md-8">
    <h2>Customers</h2>
    <p>
        If the city trash collection schedule doesn't meet your needs, for an extra fee, you can select what day and how often your
        trash is collected. You can also see and pay for any extras added to your trash collection bill here.
    </p>
    <p><a class="btn btn-default" href="http://localhost:3605/Payment/Create/Index">Pay your bill. &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Trash collectors</h2>
    <p>You can see today's customers and the route you should use to collect their trash.</p>
    <p><a class="btn btn-default" href="http://localhost:3605/Collector/Create/Index">See today's route. &raquo;</a></p>
</div>